<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-green-600 text-center text-2xl font-bold tracking-tight">Checkout Now</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form [formGroup]="checkout">
        <div class="mb-4">
          <label for="details" class="block font-bold mb-2">Details:</label>
          <textarea formControlName="details" id="details" name="details" rows="4" class="w-full p-3 border border-gray-300 rounded-md resize-none placeholder-gray-500" placeholder="Enter details here"></textarea>
            @if (checkout.get("details")?.getError("required")&& checkout.get("details")?.touched) {
                <p class="p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 ">
                    Details is required
                </p>
            }
            @else if (checkout.get("details")?.getError("pattern")&& checkout.get("details")?.touched) {
                <p class="p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 ">
                    Details is required
                </p>
            }
        </div>
  
        <div class="mb-4">
          <label for="phone" class="block font-bold mb-2">Phone Number:</label>
          <input formControlName="phone" type="text" id="phone" name="phone" class="w-full p-3 border border-gray-300 rounded-md placeholder-gray-500" placeholder="Enter phone number">
        @if (checkout.get("phone")?.getError("required")&& checkout.get("phone")?.touched) {
            <p class="p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 ">
                Number phone is required
            </p>
        }
        @else if (checkout.get("phone")?.getError("pattern")&& checkout.get("phone")?.touched) {
            <p class="p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 ">
                Enter valid phone number
            </p>
        }
        </div>
  
        <div class="mb-4">
          <label for="city" class="block font-bold mb-2">City:</label>
          <input formControlName="city" type="text" id="city" name="city" class="w-full p-3 border border-gray-300 rounded-md placeholder-gray-500" placeholder="Enter city">
          @if (checkout.get("city")?.getError("required")&& checkout.get("city")?.touched) {
            <p class="p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 ">
                Name city is required
            </p>
            }
        </div>
        <div>
          <button (click)="submitCheckout(checkout.value)" type="submit" class="w-full py-3 bg-green-600 text-white font-semibold rounded-md cursor-pointer hover:bg-green-700 transition duration-300">
          Checkout
            @if (isLoading) {
            <span><i class="fas fa-spin fa-spinner"></i></span> 
          }
          </button>
          @if (messageError) {
            <p class="p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 ">
              {{messageError}}
          </p>
          }
        </div>
      </form>
    </div>
  </div>
  